header {
    margin-bottom:30px;
}

input[type="submit"]{
    width:100%;
}

.checkbox {

}

.checkbox--container {
    border:1px solid #CCC;
    padding:20px;
}

.checkbox i{
    border: 4px solid black;
    border-radius: 13px;
    padding: 9px;
    background-color: #CCC;
    width: 10px;
    height: 10px;
    display: block;
}

.checkbox i.bad {
    background-color:red;
}

.checkbox i.good {
    background-color:green;
}

.checkbox.disabled i{
    background-color:#CCC;
}

.standout {
    -webkit-box-shadow: 2px 2px 2px blur #000;
    -moz-box-shadow: 2px 2px 2px blur #000;
    box-shadow: 2px 2px 2px blur #000;
}

.standby, .glyphicon-asterisk {
    color: #2b2b2b;
}
.standby::before{
    content:'Stand by: ';
    width: auto;
    height: 10px;
}
.pending, .glyphicon-fire {
    color:yellow;
}
.pending::before{
    content:'Processing....: ';
    width: auto;
    height: 10px;
}
.error, .glyphicon-remove {
    color:red;
    font-weight: bold;
}
.error::before{
    content:'Error, nothing saved: ';
    width: auto;
    height: 10px;
}
.success {
    color:green;
}
.success::before{
    content:'Success initiating all calls for ingest: ';
    width: auto;
    height: 10px;
}

section{
    position: relative;
}

section.disabled::before{
    content: ' ';
    width:100%;
    height:100%;
    background-color: #9d9d9d;
    opacity: .8;
    position: absolute;
    z-index: 100;
}
section.disabled::after{
    content: "DISABLED";
    color: red;
    position:absolute;
    font-size:3em;
    font-weight:bold;
    width:100%;
    top:3em;
    text-align:center;
    z-index:101;
}
section.disabled{
    filter: blur(4px);
}